.bk-tabs {
    display: flex;
    justify-content: space-around;
    button {
        padding: 8px 12px; 
        outline: none;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
        background: #fff;
    }
    .activeStyle {
        color: red;
    }
}